In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving IRIS_dataset.csv to IRIS_dataset.csv

In [ ]:
df = pd.read_csv('IRIS_dataset.csv')

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#Converting categorical values to numeric values
#label incoder which converts numeric to categorical
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
label = labelencoder.fit_transform(df.iloc[:,-1])
label = label.reshape((-1,1))
df.iloc[:,-1] = label
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
df.insert(5, 'flower1',0)
df.insert(6, 'flower2',0)
df.insert(7, 'flower3',0)
df.head()

   sepal_length  sepal_width  petal_length  ...  flower1  flower2  flower3
0           5.1          3.5           1.4  ...        0        0        0
1           4.9          3.0           1.4  ...        0        0        0
2           4.7          3.2           1.3  ...        0        0        0
3           4.6          3.1           1.5  ...        0        0        0
4           5.0          3.6           1.4  ...        0        0        0

[5 rows x 8 columns]

In [ ]:
sh = df.shape
rows = sh[0]
for i in range(rows):
  if df.iloc[i,4] ==0:
    df.iloc[i,5] = 1
  elif df.iloc[i,4] ==1:
    df.iloc[i,6] = 1
  else:
     df.iloc[i,7] = 1

In [ ]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  ...  flower1  flower2  flower3
0             5.1          3.5           1.4  ...        1        0        0
1             4.9          3.0           1.4  ...        1        0        0
2             4.7          3.2           1.3  ...        1        0        0
3             4.6          3.1           1.5  ...        1        0        0
4             5.0          3.6           1.4  ...        1        0        0
..            ...          ...           ...  ...      ...      ...      ...
145           6.7          3.0           5.2  ...        0        0        1
146           6.3          2.5           5.0  ...        0        0        1
147           6.5          3.0           5.2  ...        0        0        1
148           6.2          3.4           5.4  ...        0        0        1
149           5.9          3.0           5.1  ...        0        0        1

[150 rows x 8 columns]>

In [ ]:
#scaling of the features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
input_float =df.iloc[:,0:4]
scaler.fit(input_float)
input_float = scaler.transform(input_float)
df.iloc[:,0:4] = input_float

In [ ]:
df.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  ...  flower1  flower2  flower3
0       -0.900681     1.032057     -1.341272  ...        1        0        0
1       -1.143017    -0.124958     -1.341272  ...        1        0        0
2       -1.385353     0.337848     -1.398138  ...        1        0        0
3       -1.506521     0.106445     -1.284407  ...        1        0        0
4       -1.021849     1.263460     -1.341272  ...        1        0        0
..            ...          ...           ...  ...      ...      ...      ...
145      1.038005    -0.124958      0.819624  ...        0        0        1
146      0.553333    -1.281972      0.705893  ...        0        0        1
147      0.795669    -0.124958      0.819624  ...        0        0        1
148      0.432165     0.800654      0.933356  ...        0        0        1
149      0.068662    -0.124958      0.762759  ...        0        0        1

[150 rows x 8 columns]>

In [ ]:
#feedforward neural network
np.random.seed(42)
w_i_h1 = np.random.rand(4,1)
w_i_h2 = np.random.rand(4,1)
w_h_o1 = np.random.rand(1,1)
w_h_o2 = np.random.rand(1,1)
w_h_o3 = np.random.rand(1,1)
w_h_o4 = np.random.rand(1,1)
w_h_o5 = np.random.rand(1,1)
w_h_o6 = np.random.rand(1,1)
bias1 = np.random.rand(1)
bias2 = np.random.rand(1)

In [ ]:
def sigmoid(x):
  return 1/(1 + np.exp(-x))

In [ ]:
inputs = np.array(df)
feature_set = inputs[:,:4]
feature_set.shape

(150, 4)

In [ ]:
#input to the hidden layer


#feedforard step 1
z2_1 =np.dot(feature_set,w_i_h1) +bias1
z2_2 =np.dot(feature_set,w_i_h2) +bias2

In [ ]:
#feedforward step 2
h2_1 =sigmoid(z2_1)
h2_2 =sigmoid(z2_2)

In [ ]:
#outputlayer
z3_1 =np.dot(h2_1, w_h_o1) + np.dot(h2_2, w_h_o2)
z3_2 =np.dot(h2_1, w_h_o3) + np.dot(h2_2, w_h_o4)
z3_3 =np.dot(h2_1, w_h_o5) + np.dot(h2_2, w_h_o6)

o1 = sigmoid(z3_1)
o2 = sigmoid(z3_2)
o3 = sigmoid(z3_3)

In [ ]:
# error correction
#converting data into one dimensonal array
fl1 = np.array(df.iloc[:,5])
fl1 = fl1.reshape((-1,1))
fl2 = np.array(df.iloc[:,6])
fl2 = fl2.reshape((-1,1))
fl3 = np.array(df.iloc[:,7])
fl3 = fl3.reshape((-1,1))

error1 = o1 - fl1
error2 = o2 - fl2
error3 = o3 - fl3

error1_square = np.multiply(error1,error1)
error2_square = np.multiply(error2,error2)
error3_square = np.multiply(error3,error3)

error = error1_square + error2_square + error3_square

print(np.sum(error))

144.83471642466847